.a{
  color:black;
  background-color: aquamarine;
  text-decoration: none;
}
.b{
  color:hotpink;
  background-color: aquamarine;
  text-decoration: none;
}
.c{
  color:gray;
  background-color: aquamarine;
  text-decoration: none;
}
.d{
  color:blueviolet;
  background-color: aquamarine;
  text-decoration: none;
}
.e{
  color:rgb(0, 0, 0);
  background-color: aquamarine;
  text-decoration: none;
}
p{
  color:hotpink;
  background-color: aquamarine;
}
h2{
  color:hotpink;
  background-color: aquamarine;
}